.header
    position: fixed
    width: 100%
    background-color: var(--white)
    z-index: 1
    &-inner
        display: flex
        height: 70px
        justify-content: space-between
    &-inner
    	img.logo 
            width: 8rem
            padding: 1.0em 0.0em
            position: relative
            z-index: 1




