.footer_iner

    &_nav 
        width: 100%
        display: flex
        align-items: center
        justify-content: flex-start
        padding-top: 2rem
        padding-bottom: 1.7rem
        @media(max-width: 992px)
            display: block
            margin-block-start: 1em
            margin-block-end: 1em
            margin-inline-start: 0px
            margin-inline-end: 0px
            padding-inline-start: 40px
            line-height: 1.5
    &__item 
        margin-right: 25px
        color: #4a4a4a
        font-size: 0.875rem
        font-weight: 600
        &:hover 
            color: #646464
            text-decoration: none

.copyright
    border-top: 1px solid rgb(219,219,219)
    display: flex
    justify-content: space-between
    padding-top: 1rem
    padding-bottom: 2rem
    color: rgb(142,142,142)
    font-size: 0.85rem
    @media(max-width: 992px)
        flex-direction: column-reverse
        text-align: center
        line-height: 30px
    img
        margin-right: 5px
    &__age-rateing 
        display: flex
        align-items: flex-end
        justify-content: center
