.main-nav
    width: 100%
    display: flex
    align-items: center
    justify-content: flex-end
    &__item 
        margin-right: 25px
        color: #646464
        font-size: 13px
        @media (max-width: 992px)
            margin-right: 18px
            font-size: 12px
    &__item:hover 
        color: #646464
        text-decoration: none

    
