.main-certificates
    text-align: center
    color:#fff
    padding: 8.0em 0.5em
    height: 546px
    background-image: url(../img/baner.jpg)
    background-size: cover
    @media(max-width: 992px)
        height: 1000px
    &__headline
        font-size: 3rem
        font-family: "Raleway",sans-serif
        font-weight: 700
        line-height: 1.5
        letter-spacing: 1px
        strong 
            color:rgb(228,186,22)
        &:after
            display: block
            position: relative
            top: 0
            width: 1.75rem
            height: 3px
            margin-bottom: 1.5rem
            margin-top: 1.5rem 
            background-color: #fff
            content: ""
            transform: translatex(-50%)
            left: 50%
    &__text
        font-size: 1.6rem
        font-weight: 500
        font-family: "Open Sans",sans-serif
        margin-bottom: 1rem
    &__btns
        margin-top: 10px
        display: flex
        justify-content: center
        align-items: center
        @media(max-width: 568px)
            flex-direction: column
    &__btn
        margin-bottom: 1rem
        margin-left: 2rem
        font-size: 15px
        color:#fff
        background: rgb(228,186,22)
        border: 2px solid rgb(228,186,22)
        transition: all .3s
        max-width: 80%
        padding: 0.7em
        font-weight: 600
        &:hover 
            text-decoration: none
            color: #fff
            box-shadow: 0 0.3em 0.3em 0 rgb(127,127,127)
