.main-faq
    background-color: rgb(247,247,247)
    &__inner 
        max-width: 95%  
        margin: 0 auto
        @media (min-width: 992px)
            max-width: 50%
    &__headline
        margin: 0
        font-family: "Raleway",sans-serif
        font-weight: 100
        line-height: 1.5
        margin-bottom: 0.5rem
        margin-top: 4rem
        color: #4a4a4a
        font-size: 2.2rem
        display: block
        padding-top: 4rem
        padding-bottom: 2rem
        &:after
            display: block
            position: relative
            top: 0
            width: 1.75rem
            height: 3px
            margin-bottom: 1rem
            margin-top: 1.2rem  
            margin-left: 15px
            background-color: rgb(228,186,22)
            content: ""
            transform: translatex(-50%)
    &__text
        font-size: 1.625rem
        font-family: "Open Sans",sans-serif
        line-height: 1.5
        color: #4a4a4a
        margin-top: -2rem
        margin-bottom: 2rem
        font-weight: 100%
    &__list-container

    &__list 
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flexbox
        display: flex
        -webkit-flex-wrap: wrap
        -moz-flex-wrap: wrap
        -ms-flex-wrap: wrap
        flex-wrap: wrap
        margin-right: -1rem
        margin-left: -1rem
        padding-right: 0
        padding-left: 0
        padding-bottom: 5rem
        margin-bottom: 0
        color: #4a4a4a
        &:after,
        &:before 
            -webkit-flex-basis: 0
            -moz-flex-basis: 0
            flex-basis: 0
            -ms-flex-preferred-size: 0
            order: 1
    &__item 
        display: block
        position: relative
        width: 100%
        margin: 0 0 2rem
        &:last-of-type 
            margin-bottom: 0
        input[type="checkbox"] 
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            cursor: pointer
            opacity: 0
            z-index: 101
        input[type="checkbox"]:checked~p 
            -webkit-transition: max-height 200ms ease, padding 200ms ease, opacity 200ms ease
            -moz-transition: max-height 200ms ease, padding 200ms ease, opacity 200ms ease
            transition: max-height 200ms ease, padding 200ms ease, opacity 200ms ease
            max-height: 0
            padding: 0
            opacity: 0
        input[type="checkbox"]:checked~strong i:before 
            -webkit-transform: translate(2px, 2px) rotate(-140deg)
            -moz-transform: translate(2px, 2px) rotate(-140deg)
            -ms-transform: translate(2px, 2px) rotate(-140deg)
            -o-transform: translate(2px, 2px) rotate(-140deg)
            transform: translate(2px, 2px) rotate(-140deg)
        input[type="checkbox"]:checked~strong i:after 
            -webkit-transform: translate(2px, -3px) rotate(140deg)
            -moz-transform: translate(2px, -3px) rotate(140deg)
            -ms-transform: translate(2px, -3px) rotate(140deg)
            -o-transform: translate(2px, -3px) rotate(140deg)
            transform: translate(2px, -3px) rotate(140deg)
        strong 
            -webkit-user-select: none
            -moz-user-select: none
            -ms-user-select: none
            user-select: none
            display: block
            position: relative
            width: 100%
            margin: 0
            padding-left: 2rem
            font-size: 1em
            font-weight: 600
            line-height: 1.5
        strong i 
            -webkit-transform: translate(-6px, 0)
            -moz-transform: translate(-6px, 0)
            -ms-transform: translate(-6px, 0)
            -o-transform: translate(-6px, 0)
            transform: translate(-6px, 0)
            display: inline-block
            position: absolute
            top: 6px
            left: 1rem
            height: 1rem
        strong i:before,
        strong i:after 
            -webkit-transition: all 0.25s ease
            -moz-transition: all 0.25s ease
            transition: all 0.25s ease
            position: absolute
            width: 3px
            height: 9px
            background-color: #e4ba16
            content: ""
        strong i:before 
            -webkit-transform: translate(2px, 0) rotate(45deg)
            -moz-transform: translate(2px, 0) rotate(45deg)
            -ms-transform: translate(2px, 0) rotate(45deg)
            -o-transform: translate(2px, 0) rotate(45deg)
            transform: translate(2px, 0) rotate(45deg)
        strong i:after 
            -webkit-transform: translate(-2px, 0) rotate(-45deg)
            -moz-transform: translate(-2px, 0) rotate(-45deg)
            -ms-transform: translate(-2px, 0) rotate(-45deg)
            -o-transform: translate(-2px, 0) rotate(-45deg)
            transform: translate(-2px, 0) rotate(-45deg)
        p 
            -webkit-transition: max-height 200ms ease, padding 200ms ease, opacity 200ms ease
            -moz-transition: max-height 200ms ease, padding 200ms ease, opacity 200ms ease
            transition: max-height 200ms ease, padding 200ms ease, opacity 200ms ease
            max-height: 1000px
            margin: 0
            padding: 1rem 0
            padding-left: 2rem
            opacity: 1
            overflow: hidden
            z-index: 102
        &.icon 
            position: absolute
            top: 0
            left: 0
            max-width: 24px
