.main-courses

    &__headline
        font-size: 3rem
        font-family: "Raleway", sans-serif
        text-align: center
        color: rgb(148,148,148)
        padding-top: 2rem
        &:after
            display: block
            position: relative
            top: 0
            width: 1.75rem
            height: 3px
            margin-bottom: 1rem
            margin-top: 1rem
            background-color: rgb(228,186,22)
            content: ""
            transform: translatex(-50%)
            left: 50%
    &__description
        text-align: center
        font-size: 1.2rem
        font-family: "Open Sans",sans-serif
        font-weight: 300
        line-height: 1.5
        color: #4a4a4a
    &__list 
        display: flex
        justify-content: center
        flex-wrap: wrap
        width: 100%
        list-style-type: none
        padding: 0
        li 
            border: 1px solid #eceeef  
            flex: 0 0 100%
            max-width: 100%
            @media (min-width: 768px)
                border: 1px solid #eceeef
                border-right: 0
                border-top: 0
                flex: 0 0 50%
                max-width: 50%
            @media (min-width: 992px)
                border: 1px solid #eceeef
                border-right: 0
                border-top: 0
                flex: 0 0 33.33333%
                max-width: 33.33333%
            @media (max-width: 992px) and (min-width: 768px)
                &:nth-child(3)
                    border-right: none
            @media (max-width: 992px) and (min-width: 768px)
                &:nth-child(2), 
                &:nth-child(4), 
                &:nth-child(6), 
                &:nth-child(8), 
                &:nth-child(10), 
                &:nth-child(12) 
                    border-right: 1px solid #eceeef
            &:nth-child(3), 
            &:nth-child(6), 
            &:nth-child(9), 
            &:nth-child(12) 
                border-right: 1px solid #eceeef
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) 
                border-top: 1px solid #eceeef
            &:nth-child(7) 
                border-top: 0
            &:last-child 
                border-right: 1px solid #eceeef
                border-bottom: 1px solid #eceeef
            @media (max-width: 992px) and (min-width: 768px)
                &:nth-child(3) 
                    border-top: 0
                    border-right: 0
            @media (max-width: 767px)
                border-bottom: 0
            @media (max-width: 992px) and (min-width: 768px)
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(6),
                &:nth-child(8),
                &:nth-child(10),
                &:nth-child(12)
                    border-right: 1px solid #eceeef
    &__item
        margin-top: 4rem
        padding-top: 4rem
        padding-bottom: 4rem
        margin-top: 2rem
        margin-bottom: 2rem
        text-align: center
        &-img 
            width: 13rem

        &-title
            font-size: 1.5rem
            margin-bottom: 1rem
            font-family: "Open Sans",Sans-Serif
            line-height: 1.5
            color: #4a4a4a
        &-text
            font-size: 1rem
            margin-bottom: 1rem
            font-family: "Open Sans",Sans-Serif
            margin: 0 0 1rem
            line-height: 1.5
            color: #4a4a4a
        &-btns
            margin-top: 20px
            display: flex
            justify-content: center
            flex-direction: column
        &-btn
            margin-bottom: 1rem
            margin-left: 2rem
            font-size: 15px
            font-family: "Open Sans"
            font-weight: 600
            color: rgb(228,186,22)
            padding: 1.2em
            background: #fff
            border: 2px solid rgb(228,186,22)
            transition: all .3s
            max-width: 80%
            transition: all .3s
            &:hover 
                text-decoration: none
                color: #fff
                box-shadow: 0 0.6em 0.6em 0 #CFCFCF
                background-color: rgb(228,186,22)
            &-yellow
                margin-bottom: 1rem
                margin-left: 2rem
                font-size: 15px
                color:#fff
                padding: 1.2em
                background: rgb(228,186,22)
                border: 2px solid rgb(228,186,22)
                transition: all .3s
                max-width: 80%
                transition: all .3s
                &:hover 
                    text-decoration: none
                    color: #fff
                    box-shadow: 0 0.6em 0.6em 0 #CFCFCF
            &-gray
                margin-bottom: 1rem
                margin-left: 2rem
                font-size: 15px
                color:#fff
                padding: 1.2em
                background: #4D4D4D
                transition: all .3s
                max-width: 80%
                transition: all .3s
                &:hover 
                    text-decoration: none
                    color: #fff
                    box-shadow: 0 0.6em 0.6em 0 #CFCFCF
                    background-color: rgb(228,186,22)
