.main-reviews
    text-align: center
    color: rgb(81,81,81)
    background-color: rgb(247,247,247)
    padding-bottom: 4rem
    &__headline
        font-size: 3rem
        font-family: "Raleway",sans-serif
        font-weight: 300
        padding-top: 1.5em
        @media(max-width: 992px)
            font-size: 1.8rem
        &:after
            display: block
            position: relative
            top: 0
            width: 1.75rem
            height: 3px
            margin-bottom: 1.2rem
            margin-top: 1.2rem 
            background-color: rgb(228,186,22)
            content: ""
            transform: translatex(-50%)
            left: 50%
    &__text
        font-size: 1.625rem
        font-family: "Open Sans",sans-serif
        font-weight: 300
        line-height: 1.5
        color: #4a4a4a
        padding-bottom: 5rem
        @media(max-width: 992px)
            font-size: 1.5rem
    &__item
        background-color: #fff
        padding: 2rem 0 3rem 0
        margin-left: -1rem
        margin-right: -1rem
        margin-bottom: -0.9em
        border-color: rgb(236,238,239)
        text-align: center
        @media(max-width: 568px)
            border-bottom: 0
            margin-left: 0
            margin-right: 0
        &-btn
            padding: 0.5em 0.3em
            display: inline-block
            padding-top: 0.6em
            padding-bottom: 0.6em
            font-size: 17px
            color: rgb(228,186,22)
            font-family: "Open Sans",Sans-Serif
            background: #fff
            border: 2px solid rgb(228,186,22)
            transition: all .3s
            &:hover 
                text-decoration: none
                color: #fff
                box-shadow: 0 0.6em 0.6em 0 #CFCFCF
                background-color: rgb(228,186,22)
        .fa
            margin: 2rem 0 2rem 0
            color: #e4ba16
            font-size: 2.5rem
