.main-enroll
    text-align: center
    color:#fff
    padding-top: 5rem
    height: 390px 
    background-image: url(../img/lych.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center   
    @media (max-width: 992px)
        font-size: 1.8rem
        height: 434px
    &__headline
        font-family: "Raleway",sans-serif
        font-size: 2.2rem
        margin-bottom: 0.5rem
        font-weight: 200
        &:after
            display: block
            position: relative
            top: 0
            width: 1.75rem
            height: 3px
            margin-bottom: 1.5rem
            margin-top: 1.5rem  
            background-color: #fff
            content: ""
            transform: translatex(-50%)
            left: 50%
    &__text
        font-family: "Open Sans",Sans-Serif
        margin-bottom: 2rem
        font-size: 2.2rem
        font-weight: 300
    &__btn
        font-size: 15px
        color:#fff
        padding: 1.2em
        background: rgb(228,186,22)
        transition: all .3s
        &:hover 
            text-decoration: none
            color: #fff
            box-shadow: 0 0 0.6em 0 rgb(46,24,73)
