.main-prerequisites

    &__headline
        text-align: center
        font-size: 3rem
        font-family: "Raleway",sans-serif
        font-weight: 300
        padding-top: 1.5em
        @media(max-width: 992px)
            font-size: 1.8rem
        &:after
            display: block
            position: relative
            top: 0
            width: 1.75rem
            height: 3px
            margin-bottom: 1.2rem
            margin-top: 1.2rem 
            background-color: rgb(228,186,22)
            content: ""
            transform: translatex(-50%)
            left: 50%
    &__text
        text-align: center
        font-size: 1.625rem
        font-family: "Open Sans",sans-serif
        font-weight: 300
        line-height: 1.5
        color: #4a4a4a
        padding-bottom: 5rem
        @media(max-width: 992px)
            font-size: 1em
    &__list 
        padding: 0
        list-style-type: none
        font-size: 1.25rem
        max-width: 66.66667%
        margin: 0 auto
        .prerequisites__list
            border-radius: 50%
            display: inline-block
            background-color: rgb(228,186,22)
            padding: 0.8em 0.5em 0.5em 0.4em
            margin-right: 20px
            width: 3rem
            height: 3rem
            color: rgba(255, 255, 255, 255)
            transition: all .3s
            font-size: 1.5em
            font-size: 1.25em
            line-height: 0.5em
        li
            border-bottom: 1px solid rgb(236,238,239)
            padding: 32px 0
