.main-banner
    text-align: center
    color:#fff
    padding: 8.0em 22px
    background: #411862
    &__headline
        font-size: 3rem
        font-family: "Raleway", sans-serif
        &:after
            display: block
            position: relative
            top: 0
            width: 1.75rem
            height: 3px
            margin-bottom: 1rem
            background-color: #fff
            content: ""
            transform: translatex(-50%)
            left: 50%
        @media (max-width: 992px)
            font-size: 2.9rem
        &-sub
            font-family: "Raleway",sans-serif
            font-size: 1.77689em
            font-weight: bold
            line-height: 1.5
            letter-spacing: 1px
    &__btns
        margin-top: 20px
        display: flex
        justify-content: center
        @media(max-width: 568px)
            flex-direction: column
    &__btn 
        font-size: 15px
        &--yellow
            color:#fff
            padding: 1.2em
            background: rgb(228,186,22)
            transition: all .3s
            &:hover 
                text-decoration: none
                color: #fff
                box-shadow: 0 0 0.6em 0 rgb(46,24,73)
        &--transparent
            margin-left: 20px   
            color: rgb(228,186,22)
            padding: 1em
            border: 2px solid rgb(228,186,22)
            transition: background-color .3s
            @media (max-width: 568px)
                margin-left: 0 
                margin-top: 20px
            &:hover
                text-decoration: none
                color: #fff
                box-shadow: 0 0 0.6em 0 rgb(46,24,73)
                background-color: rgb(228,186,22)
                
