.pegi
    width: 50px
.menu
    cursor: pointer
    padding-left: 1.25em
    position: relative
    width: 40px
    height: 40px
    z-index: 1
    &-global
        -webkit-backface-visibility: hidden
              backface-visibility: hidden
        position: absolute
        left: 5px
        border-top: 3px solid black
        width: 80%
        -webkit-transition: 0.55s
        transition: 0.55s
        margin-top: 5px
    &-top 
        top: 0
    &-middle 
        top: 10px
    &-bottom 
        top: 20px
    &-top-click 
        -webkit-backface-visibility: hidden
              backface-visibility: hidden
        top: 15px
        -webkit-transform: rotate(50deg)
              transform: rotate(50deg)
        -webkit-transition: 0.55s 0.5s
        transition: 0.55s 0.5s
    &-middle-click 
        opacity: 0
    &-bottom-click 
        -webkit-backface-visibility: hidden
              backface-visibility: hidden
        top: 15px
        -webkit-transform: rotate(-410deg)
              transform: rotate(-410deg)
        -webkit-transition: 0.55s 0.5s
        transition: 0.55s 0.5s
    &-mobile 
        background-color: #e4ba16
        width: 100%
        height: 100%
        position: fixed    
        top: 0
        right: 0 
        display: none
        transition: all 3s
        &.active
            display: block
        &__container 
            display: flex
            flex-direction: column
            width: 90%
            margin: 60px auto 0 auto
            text-align: center
        a 
            color: #ffffff
            font-weight: bold
            font-size: 80%
            margin-bottom: 20px
